.plist li {
    display: inline-block;
    margin: 0 5px;
    width: 233px;
    text-align: center;
}

.plist li img {
    width: 233px;
    height: 145px;
}

.plist li img:hover {
    -webit-animation: productAnimate 3s;
    -moz-animation: productAnimate 3s;
    -o-animation: productAnimate 3s;
    -ms-animation: productAnimate 3s;
    animation: productAnimate 3s;
}

.plist li p {
    margin: 5px 0 20px;
}

.plist li a {
    color: #000;

}

@keyframes productAnimate {
    10% {
        transform: scale(1, 1);
    }
    50% {
        transform: rotate(40deg) scale(1.5, 1.5);
    }
    80% {
        transform: rotate(10deg) scale(1.0, 1.0);
    }
}

.nlist li {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    overflow: hidden;
}
.nlist li:nth-child(5n+5) {
    border-bottom: 1px solid #ccc;
    margin-bottom:10px;
    padding-bottom: 10px;
}
.nlist li:last-child {
    border: 0px;
}

.nlist a, .nlist time {
    color: #000;
    display: inline-block;
    vertical-align: top;
}

.nlist a {
    width: 638px;
}
.nlist a:hover{
    text-shadow: 3px 3px 3px #ccc;
}
