/*全局样式*/
*{
    margin:0;
    padding: 0;
}
body{
    font: 14px '微软雅黑', 'Arial','MicrosoftJhengHei', 'sans-serif' ;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
ol,ul,li{
    list-style: none;
}
img{
    border: 0;
    vertical-align: top;
}
.container{
    width: 1100px;
    margin: 0 auto;
    /*border: 1px solid #000;*/
}
.left{
    float:left;
}
.right{
    float: right;
}
.show{
    display: block;
}
.hidden{
    display: none;
}

.clearfix{
    *zoom:1;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    width:100%;
}

/*面包屑导航*/
.crumbs h2{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin: 10px 0;
    background: url("../images/title_bg02.jpg") repeat-x;
    font-size: 18px;
}
.crumbs h2 a{
    color: #564C4C;
}

/*头部样式*/
.header{
    margin: 10px auto 20px
}
.header nav{
    text-align: right;
    margin-bottom: 10px;
}
.header nav a{
    color: #777272;
}
.header h1{
    display: inline-block;
    margin-left: 30px;
    width: 710px;
    vertical-align: middle;
}
.header form{
    display: inline-block;
    vertical-align: middle;
}
.header input[type="text"] {
    height: 28px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding-left: 5px;
}
.header input[type="submit"] {
    width: 45px;
    height: 24px;
    margin-left: 5px;
    background: #2E8CF1;
    border: none;
    color: #fff;
}


/*导航样式*/
.nav{
    /*width: 100%;*/
    margin-top: 20px;
}
.nav ul{
    height: 38px;
    line-height:38px;
    background: #2E8CF1;
}
.nav ul a{
    color: #fff;
}
.nav ul li{
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 138px;
    border-right: 1px solid #fff;
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -ms-transition: background 1s linear;
    -o-transition: background 1s linear;
    transition: background 1s linear;
}
.nav ul li:nth-child(2){
    position: relative;
}
.nav ul li:last-child{
    border: none;
    width: 166px;
}
.nav ul li:hover{
    background: #265d96;
}
.nav ul li.on{
    background: #265d96;
}
.nav div.subNav{
    position: absolute;
}

.nav div.subNav a{
    background: #265d96;
    display: block;
    width: 138px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #fff;
}

/*底部区域*/
.footer{
    margin-top: 10px;
    padding: 20px 0px;
    background: #2E8CF1;
    text-align: center;
    line-height: 24px;
}
.footer a{
    border-right: 1px solid #fff;
    padding: 0 10px;
}
.footer a:last-child{
    border:0;
}





